.question {
  text-align: center;
  margin: 4rem 0;
  color: #fff;
  font-size: 2.4rem;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer {
  padding: 2rem;
  background-image: linear-gradient(144deg, #020767, #5b42f3 50%, #1cfee7);
  color: #cfcccc;
  font-weight: bold;
  cursor: pointer;
  margin: 2rem 0;
  width: 50%;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.6rem;
  border-radius: 5px;
}

.answer:hover {
  scale: 1.1;
  transition: 0.2s;
}

.score {
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.4rem;
  color: #1afdee;
  font-weight: 500;
}

.question_number {
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.4rem;
  color: #1afdee;
  font-weight: 500;
}

.question_result {
  width: 328px;
  margin-left: 75px;
  display: flex;
  justify-content: space-around;
}
