/* video {
  margin: 0;
  padding: 0;
  width: 100%;
  object-fit: cover;
  height: 80vh;
} */

.main {
  height: 100vh;
  background-image: url("../../assets/nebula-4k.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.hero-title h1 {
  color: whitesmoke;
  padding-top: 20rem;
  padding-bottom: 6rem;
  font-size: 7rem;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 600;
}

.stats {
  /* position: absolute; */
  display: flex;
  color: #fff;
  justify-content: center;
  gap: 5rem;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 3.5rem;
  font-weight: 500;
  color: #d4d3d3;
}

.plus {
  color: rgb(28, 153, 255);
}

.hero-partners {
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(184, 184, 184);
}

.subtitle {
  color: whitesmoke;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.285);
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .subtitle {
    /* font-size: 2.5rem; */
    /* text-align: center; */
    /* margin-bottom: 2rem; */
  }

  .hero-title h1 {
    /* margin-top: 35rem; */
    /* font-size: 7rem; */
    padding-bottom: 3rem;
    letter-spacing: 2px;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .hero-title h1 {
    /* margin-top: 25rem; */
    font-size: 6rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .hero-title h1 {
    /* margin-top: 35rem; */
    font-size: 5rem;
  }

  .subtitle {
    /* font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem; */
  }
}
