.donate {
  background: linear-gradient(
    180deg,
    rgba(1, 3, 20, 0.987) 0%,
    rgb(62, 2, 227) 300%
  );
  height: 100vh;
  padding: 20rem;
}

.donate-info {
  display: flex;
  flex-direction: column;
  color: #048e06;
}
