.donate {
  /* background: rgb(24, 1, 59); */
  background: linear-gradient(
    180deg,
    rgb(4, 1, 48) 0%,
    rgba(4, 1, 78, 0.732) 53%,
    rgba(254, 255, 255, 0.097) 100%
  );
  height: auto;
  padding: 20rem 5rem;
}

.donate-title-wrapper {
  width: 100%;
}

.donate-title,
.title-club {
  color: #cdcdcd;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 3rem;
}

/* .donate-info {
  display: flex;
  flex-direction: column;
  color: #048e06;
} */
