.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}
.footer div {
  width: 30%;
  display: flex;
  justify-content: center;
}

.bg-color {
  background-image: url(../../assets/nebula-4k.jpg);
  /* background-position: center; */
}

.name-footer {
  font-size: 2.5rem;
  color: whitesmoke;
  font-weight: 500;
}

.logo-footer img {
  width: 20rem;
  height: 10rem;
}

.social-media-footer {
  display: flex;
  justify-content: space-between;
}

.media-icons {
  width: 3.5rem;
  height: 3.5rem;
  /* color: #dfdce2; */
}

.facebook {
  color: blue;
}
.twitter {
  color: rgb(34, 138, 250);
}
.youtube {
  color: rgb(231, 25, 69);
}
.insta {
  color: #9f0d39;
}

small {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (max-width: 34em) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
  }

  .name-footer {
    text-align: center;
  }

  .social-media-footer {
    display: flex;
    gap: 3rem;
  }
}
