html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  padding: 0.5rem 1.4rem;
  font-weight: 500;
  color: white;
  background-color: #52057b;
  border: none;
  border-radius: 5px;
  transition: all 300ms ease-in;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.title {
  display: flex;
  justify-content: center;
  color: #cdcdcd;
  margin: 0 auto;
  font-size: 3rem;
  padding: 3rem;
}

.width {
  width: 80%;
  margin: 0 auto;
}
